In [42]:
import numpy as np
import pandas as pd
import graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [43]:
df = pd.read_csv("data.csv")
df.drop(["ID"],axis = 1, inplace = True)
df

      Age  Income  Gender Marital Status Buys
0     <21    High    Male         Single   No
1     <21    High    Male        Married   No
2   21-35    High    Male         Single  Yes
3     >35  Medium    Male         Single  Yes
4     >35     Low  Female         Single  Yes
5     >35     Low  Female        Married   No
6   21-35     Low  Female        Married  Yes
7     <21  Medium    Male         Single   No
8     <21     Low  Female        Married  Yes
9     >35  Medium  Female         Single  Yes
10    <21  Medium  Female        Married  Yes
11  21-35  Medium    Male        Married  Yes
12  21-35    High  Female         Single  Yes
13    >35  Medium    Male        Married   No

In [44]:
df = pd.concat([df,pd.get_dummies(df['Age'], prefix='Age')],axis=1).drop(['Age'],axis=1)
df = pd.concat([df,pd.get_dummies(df['Income'], prefix='Income')],axis=1).drop(['Income'],axis=1)
df = pd.concat([df,pd.get_dummies(df['Gender'], prefix='Gender')],axis=1).drop(['Gender'],axis=1)
df = pd.concat([df,pd.get_dummies(df['Marital Status'], prefix='Marital Status')],axis=1).drop(['Marital Status'],axis=1)
#df = pd.concat([df,pd.get_dummies(df['Buys'], prefix='Buys')],axis=1).drop(['Buys'],axis=1)
df['Buys']=df['Buys'].replace("No",0)
df['Buys']=df['Buys'].replace("Yes",1)
#df
#y = df.Buys
#x = df.drop('Buys',axis=1)
x = df.iloc[:,1:] # all columns but the Buys
y = df.iloc[:,0:1]  # expected to be from 0 to n_classes - 1

    Buys
0      0
1      0
2      1
3      1
4      1
5      0
6      1
7      0
8      1
9      1
10     1
11     1
12     1
13     0

In [46]:
clf = DecisionTreeClassifier()
clf.fit(x,y)
columns=list(x.columns)
dot_data = tree.export_graphviz(clf,out_file=None,feature_names=columns,class_names=['YES','NO'])
graph = graphviz.Source(dot_data)
graph.render("image",view=True)
f = open("classifier.txt","w+")
f.write(dot_data)
f.close()